$bg: #ededed;
$menuBg: #183380;
body {
	min-width: 1200px;
}

.init-panel {
	background-color: transparent;
	display: block;
	border: none;
	margin-bottom: 0;
	padding: 0;
}
.init-title {
	border-bottom: none;
	padding: 0;
	margin-bottom: 0;
}
.file-panel {
	background-color: #f6f6f6;
	padding: 36px 18px;
	border-radius: 18px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 24px;
	.form-control {
		height: auto;
	}
}
.init-content {
	float: none;
	margin-top: 0;
	padding: 0;
}
.fault-panel {
	flex: 1;
	align-self: flex-start;
	display: flex;
	flex: 1 0 250px;
	transition: margin 0.6s;
	will-change: margin;
	&.hide {
		margin-right: -220px;
	}
}
.data-panel {
	background-color: #f6f6f6;
	padding: 32px;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 24px;
	width: 100% !important;
}
.main_container {
	display: flex;
	min-height: 100vh;
}
.content-wrapper {
	flex: 1;
	background-color: #fff;
	padding-top: 20px;
	margin-right: 53px;
	& > .content {
		padding: 0;
	}
}
@media (min-width: 992px) {
	.sidebar-mini.sidebar-collapse .content-wrapper,
	.sidebar-mini.sidebar-collapse .main-footer,
	.sidebar-mini.sidebar-collapse .main-header {
		margin-left: 0 !important;
	}
}

@media (min-width: 768px) {
	body:not(.sidebar-mini-md) .content-wrapper,
	body:not(.sidebar-mini-md) .main-footer,
	body:not(.sidebar-mini-md) .main-header {
		transition: margin-left 0.3s ease-in-out;
		margin-left: 0;
	}
}
.select2-container {
	padding: 3px 0;
}
.select2-container--default .select2-selection--multiple {
	border: 1px solid #fff;
}
#searchResults {
	display: flex;
}
// .jsgrid-grid-header,
// .jsgrid-grid-body {
// 	align-self: flex-start;
// }
// .jsgrid-edit-row > .jsgrid-cell,
// .jsgrid-filter-row > .jsgrid-cell,
// .jsgrid-grid-body,
// .jsgrid-grid-header,
// .jsgrid-header-row > .jsgrid-header-cell,
// .jsgrid-insert-row > .jsgrid-cell {
// 	border: none;
// 	overflow: hidden;
// }
// .jsgrid-header-row > .jsgrid-header-cell {
// 	background-color: #656565;
// 	padding: 20px 0;
// 	color: #fff;
// 	font-size: 14px;
// 	text-align: center;
// }
// .jsgrid-cell {
// 	border: none;
// 	padding: 20px 6px;
// 	text-align: center;
// 	color: #000;
// 	font-size: 14px;
// 	word-break: break-all;
// 	.btn {
// 		font-size: 14px;
// 	}
// 	.btn-info {
// 		background-color: #000000;
// 	}
// 	.btn-icon {
// 		font-size: 0;
// 	}
// }
// .jsgrid-alt-row > .jsgrid-cell {
// 	background-color: #e5e5e5;
// }

.jsgrid-grid-header {
	overflow: hidden;
}
.jsgrid-table {
	tbody {
		display: block;
		width: 100%;
	}
	tr {
		display: flex;
		width: 100%;
		background-color: #fff;
		border-radius: 6px;
		margin-bottom: 15px;
		align-items: center;
		padding: 14px 0;
		font-size: 15px;
		&.jsgrid-header-row {
			background-color: transparent;
		}
	}
}
.jsgrid-edit-row > .jsgrid-cell,
.jsgrid-filter-row > .jsgrid-cell,
.jsgrid-grid-body,
.jsgrid-grid-header,
.jsgrid-header-row > .jsgrid-header-cell,
.jsgrid-insert-row > .jsgrid-cell {
	border: none;
}
.jsgrid-header-row {
	display: flex;
	width: 100%;
}

.jsgrid-grid-body {
	overflow: hidden;
}

.jsgrid-grid-header,
.jsgrid-row > .jsgrid-cell {
	background-color: transparent;
}

.jsgrid-header-row > .jsgrid-header-cell {
	background-color: transparent;
}
.jsgrid-header-cell,
.jsgrid-cell {
	text-align: center;
}
.jsgrid-cell {
	border: none;
}
.jsgrid-pager-container {
	margin: 0 auto;
}
.d-none {
	display: none !important;
}
.flex-col {
	flex-direction: column;
}
.dropdown-btn {
	margin-right: 18px;
}
.btn {
	margin: 0;
	color: #fff;
	display: inline-flex;
	align-items: center;
	border-radius: 5px;
	padding: 11px 22px;
	border: none;
	font-size: 18px;
	& + .btn {
		margin-left: 18px;
	}
	&:hover {
		color: #fff;
	}
	span {
		margin-right: 10px;
	}
	&-size {
		&--md {
			font-size: 18px;
			padding: 14px 24px;
		}
		&--xs {
			font-size: 15px;
			padding: 6px 13px;
		}
	}
	&-icon {
		font-size: 0;
		padding: 0;
		border-radius: 0;
		border: none;
	}
	&-map {
		background-color: #ec9c00;
	}
	&-view {
		background-color: #ec9c00;
	}
	&-search {
		background-color: #183380;
	}
	&-reload {
		background-color: #656565;
	}
	&-pie {
		background-color: #a7c5eb;
	}
	&-pdf {
		background-color: #a7c5eb;
	}
	&-excel {
		background-color: #a7c5eb;
	}
	&-del {
		background-color: #a7c5eb;
	}
	&-info {
		background-color: #000;
	}
}
.icon {
	&-water {
		width: 20px;
		height: 30px;
		display: inline-block;
		background-image: url("../Images/icon-water.png");
		margin-right: 24px;
	}
	&-slide {
		width: 18px;
		height: 12px;
		background-image: url("../Images/icon-slide.png");
		margin-left: auto;
	}
	&-cable {
		width: 30px;
		height: 14px;
		background-image: url("../Images/icon-cable.png");
		margin-right: 12px;
	}
	&-downloadview {
		width: 19px;
		height: 23px;
		background-image: url("../Images/icon-downloadview.png");
		margin-right: 23px;
	}
	&-uploadview {
		width: 21px;
		height: 18px;
		background-image: url("../Images/icon-uploadview.png");
		margin-right: 18px;
	}
	&-view {
		width: 22px;
		height: 18px;
		background-image: url("../Images/icon-view.png");
	}
	&-map {
		width: 22px;
		height: 18px;
		background-image: url("../Images/icon-view.png");
	}
	&-search {
		width: 24px;
		height: 24px;
		background-image: url("../Images/icon-search.png");
	}
	&-reload {
		width: 16px;
		height: 20px;
		background-image: url("../Images/icon-reload.png");
	}
	&-pie {
		width: 20px;
		height: 20px;
		background-image: url("../Images/icon-pie.png");
	}
	&-pdf {
		width: 18px;
		height: 24px;
		background-image: url("../Images/icon-pdf.png");
	}
	&-excel {
		width: 18px;
		height: 24px;
		background-image: url("../Images/icon-excel.png");
	}
	&-word {
		width: 18px;
		height: 23px;
		background-image: url("../Images/icon-word.png");
	}
	&-del {
		width: 14px;
		height: 18px;
		background-image: url("../Images/icon-del.png");
	}
	&-wordc {
		width: 28px;
		height: 36px;
		background-image: url("../Images/icon-wordc.png");
	}
	&-pdfc {
		width: 27px;
		height: 36px;
		background-image: url("../Images/icon-pdfc.png");
	}
	&-add {
		width: 20px;
		height: 20px;
		background-image: url("../Images/icon-add.png");
	}
}
.main {
	&-wrap {
		margin-left: 0;
		padding: 0;
		flex: 1;
		// padding-top: 20px;
		// margin-right: 53px;
		overflow: hidden;
		.top_nav {
			margin-left: 0;
		}
		.nav_menu {
			border: none;
		}
	}
	&-select {
		&-row {
			margin: 0;
		}
		&-wrap {
			padding: 0;
			margin-bottom: 29px;
		}
		&-content {
			float: none;
			margin-top: 0;
			padding: 0;
		}
	}
	&-title {
		display: flex;
		align-items: center;
		padding: 0;
		margin-bottom: 16px;
		position: relative;
		&__line {
			flex: 1;
			height: 1px;
			background-color: #bdbdbd;
			position: relative;
			margin: 0 auto;
		}
		h2 {
			font-size: 26px;
			font-weight: bold;
			color: #1d62e4;
			position: relative;
			margin-bottom: 0;
			position: relative;
			margin-right: 42px;
		}
		.panel_toolbox {
			min-width: auto;
			float: none;
			margin-left: auto;
			& > li > a {
				font-size: 21px;
			}
		}
		.fa {
			color: #1a3481;
		}
	}
}
.collapse-link {
	width: 36px;
	height: 36px;
	position: relative;
	background-color: #828282;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 23px;
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -4px) rotate(45deg);
		width: 10px;
		height: 10px;
		border-left: 2px solid #fff;
		border-top: 2px solid #fff;
	}
}
.nav_menu {
	background-color: transparent;
}

.form {
	&-wrap {
		background-color: #f6f6f6;
		border-radius: 10px;
		padding: 28px 28px 38px;
	}
	&-panel {
		// background-color: #fff;
		// padding: 36px 18px;
		border-radius: 18px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 12px;
	}
	&-label {
		font-size: 15px;
		color: #656565;
		font-weight: bold;
		flex-basis: 100px;
		margin-bottom: 0;
	}
	&-box {
		flex-basis: 50%;
		.select2-container--default .select2-selection--multiple {
			border-radius: 6px;
		}
		.select2-search__field {
			width: 100% !important;
			&::placeholder {
				color: #b6b6b6;
			}
			&::-ms-input-placeholder {
				color: #b6b6b6;
			}
		}
	}
	&-col {
		width: calc(100% / 3);
		display: flex;
		align-items: center;
		margin-bottom: 28px;
		&--100 {
			width: 100%;
		}
	}
	&-btn {
		&-group {
			width: 100%;
			font-size: 0;
			text-align: center;
			.btn {
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&-panel {
			// background-color: #fff;
			// padding: 18px 18px;
			// border-radius: 12px;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 43px;
			position: relative;
			align-items: center;
		}
	}
}

#resultMap.map-container {
	background-color: transparent;
	display: block;
	border: none;
	margin-bottom: 0;
	padding: 0;
	display: flex;
	margin-bottom: 24px;
}
.map-panel {
	flex: 1 1 100%;
	margin-right: 24px;
	background-color: #f6f6f6;
	padding: 29px 32px;
	border-radius: 15px;
}
.area {
	&-panel {
		flex: 0 0 292px;
		// background-color: #fff;
		// padding: 18px 18px;
		display: flex;
		transition: margin 0.6s;
		will-change: margin;
		&.hide {
			margin-right: -247px;
			.area-toggle__btn {
				transform: translateX(-50%) rotate(180deg);
			}
		}
	}
	&-toggle {
		flex-basis: 45px;
		flex-shrink: 0;
		height: 100%;
		background-color: #000;
		position: relative;
		&__btn {
			width: 20px;
			height: 18px;
			display: block;
			font-size: 0;
			position: absolute;
			top: 43px;
			left: 50%;
			transform: translateX(-50%);
			background-image: url("../Images/btn-arrow.png");
		}
	}
	&-collapse {
		position: relative;
		background-color: #f6f6f6;
		padding: 20px;
		border-radius: 0 10px 10px 0;
	}
}

.fault-collapse {
	background-color: #fff;
	padding: 12px 12px;
	border-radius: 0 15px 15px 0;
}
.card-body {
	padding: 0;
}

ul.list-unstyled li.list-unstyled-box-wrap {
	background-color: transparent;
	border-radius: 0;
	padding: 0;
}
ul.list-unstyled li {
	margin-bottom: 35px;
}
// .icheckbox_flat-green {
// 	flex-basis: 14px;
// 	width: 14px;
// 	height: 14px;
// 	border: 1px solid #cb3741;
// 	display: inline-block;
// 	margin-right: 6px;
// 	border-radius: 2px;
// 	position: relative;
// 	margin-top: 3px;
// 	align-self: flex-start;
// 	background-image: none;
// 	&.checked {
// 		background-color: #cb3741;
// 		&:before {
// 			display: block;
// 		}
// 	}
// 	&:before {
// 		content: "";
// 		width: 9px;
// 		height: 6px;
// 		position: absolute;
// 		top: 2px;
// 		left: 1px;
// 		border-left: 2px solid #fff;
// 		border-bottom: 2px solid #fff;
// 		transform: rotate(-45deg);
// 		display: none;
// 	}
// }

.list-unstyled {
	&-box {
		background: #fff;
		padding: 10px 14px !important;
		border-radius: 10px;
		&-wrap {
			label {
				display: flex;
				align-items: center;
				color: #000;
			}
			& > .list-unstyled-label {
				font-size: 18px;
				margin-bottom: 7px;
				.list-unstyled-style {
					margin-top: 0;
					align-self: center;
				}
				span {
					color: #000;
				}
			}
			// .icheckbox_flat-green {
			// 	border-color: #000;
			// 	&.checked {
			// 		background-color: #000;
			// 		&:before {
			// 			display: block;
			// 		}
			// 	}
			// }
		}
	}
	&-group {
		display: flex;
		align-items: center;
		margin-bottom: 16px;
		// [type="checkbox"] {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	display: none;
		// }
		&:last-child {
			margin-bottom: 0;
		}
	}
	&-label {
		margin-bottom: 0;
		position: relative;
		display: flex;
		flex: 1;
		align-items: center;
		cursor: pointer;
		color: #656565 !important;
		font-size: 16px;
		color: red;
		span {
			&:last-child {
				flex: 1;
			}
		}
		input[type="checkbox"] {
			display: none;
			&:checked + .list-unstyled-style {
				background-color: #000;
				&:before {
					display: block;
				}
			}
		}
		& + span {
			width: 11px;
			height: 11px;
			flex-basis: 11px;
			font-size: 0;
			margin-left: auto;
			align-self: flex-start;
			margin-top: 6px;
		}
	}
	&-style {
		flex-basis: 10px;
		width: 10px;
		height: 10px;
		border: 1px solid #000;
		display: inline-block;
		margin-right: 8px;
		border-radius: 0;
		position: relative;
		margin-top: 6px;
		align-self: flex-start;
		&:before {
			content: "";
			width: 7px;
			height: 4px;
			position: absolute;
			top: 1px;
			left: 1px;
			border-left: 1px solid #fff;
			border-bottom: 1px solid #fff;
			transform: rotate(-45deg);
			display: none;
		}
	}
}
