.top_nav {
	margin-bottom: 35px;
	.nav_menu {
		float: none;
		position: relative;
		margin-bottom: 0;
		border-bottom: none;
	}
	.navbar-right {
		padding-left: 0;
		display: flex;
		align-items: center;
		margin: 0;
		.nav-item {
			&:nth-of-type(1) {
				margin-right: 23px;
				img {
					width: 80px !important;
					height: 78px !important;
				}
			}
			&:nth-of-type(2) {
				h3 {
					font-size: 34px;
					color: #0a0a0a;
					font-weight: bold;
				}
			}
		}
	}
}
.card {
	box-shadow: none;
}
.Index-table {
	min-height: auto !important;
	.jsgrid-header-row > .jsgrid-header-cell,
	.jsgrid-cell {
		padding: 0;
		text-align: center;
		&:nth-of-type(1) {
			width: 5% !important;
		}
		&:nth-of-type(2) {
			width: 5% !important;
		}
		&:nth-of-type(3) {
			width: 20% !important;
		}
		&:nth-of-type(4) {
			width: 20% !important;
		}
		&:nth-of-type(5) {
			width: 10% !important;
		}
		&:nth-of-type(6) {
			width: 10% !important;
		}
		&:nth-of-type(7) {
			width: 10% !important;
		}
		&:nth-of-type(8) {
			width: 10% !important;
		}
		&:nth-of-type(9) {
			width: 10% !important;
		}
	}
}
