.menu {
	&-wrap {
		background-color: #0a0a0a;
		display: flex;
		margin-right: 61px;
		flex-shrink: 0;
		width: 290px;
	}
	&__link {
		font-size: 16px;
		display: flex !important;
		align-items: center;
		font-weight: bold !important;
		span.fa {
			margin-top: 0;
		}
	}
}

.menu {
	&__toggle {
		padding-top: 53px;
		padding-left: 40px;
		margin-bottom: 206px;
		float: none;
	}
	&__btn {
		width: 27px;
		height: 35px;
		background-image: url("../Images/nav-btn-off.png");
	}
	&__list {
		list-style: none;
		padding: 0;
		&-wrap {
			// background-color: $menuBg;
		}
	}
	&__li {
		margin-bottom: 49px;
		.menu__link {
			color: #fff;
			font-size: 20px;
			cursor: pointer;
			padding: 0 26px;
			white-space: nowrap;
			span {
				flex-shrink: 0;
			}
			&:hover {
				color: #fff;
			}
		}
		&.menu-open {
			.menu__link {
				color: #fff;
			}
		}
	}
	&__link {
		padding: 0;
		color: #fff;
	}
}
.toggle a {
	padding: 0;
}

.nav_menu {
	display: flex;
	align-items: center;
}
.toggle {
	width: auto;
}
.side-menu {
	display: flex;
	flex-direction: column;
}
.nav.child_menu {
	padding: 16px 0;
}
.nav.child_menu li {
	padding-left: 25px;
}
.nav.child_menu > li > a {
	padding: 16px 0 16px 42px;
	font-size: 18px;
	// background-color: #fff;
	font-weight: bold;
	border-radius: 36px 0 0 36px;
	&:hover {
		background-color: #fff;
		color: #0a0a0a;
	}
}
.sidebar-collapse {
	.menu-wrap {
		width: 100px;
	}
	.menu__toggle {
		padding-top: 65px;
		padding-left: 0;
		margin: 0 auto 223px;
	}
	.menu__btn {
		width: 35px;
		height: 27px;
		background-image: url("../Images/nav-btn-on.png");
	}
	.menu__text {
		opacity: 0;
	}
	.icon-slide {
		opacity: 0;
	}
}
